.btn-s {
    transition: 0.3s ease-in-out;
    box-sizing: border-box;
    border-radius: 29.5px;
    background-color: rgba(31, 183, 85, 1);
    height: 55px;
    width: 290px;
    cursor: pointer;
    z-index: 100;
    display: flex;
    align-items:center;
    justify-content: center;
  }
  .btn-txt{
    font-size: 22px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    word-wrap: break-word;
    text-decoration: none;
  }

.btn-s:hover{
  transition: 0.3s ease-in-out;
  width: 390px;

}