@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");



p {
  margin: 0;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row-spbetween {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-row-vcenter{
  display: flex;
flex-direction: row;
align-items: center;
}

.property-1-variant-2 {
  position: relative;
  padding: 0px 0px 42px 0px;
  box-sizing: border-box;
  width: 1172px;
  height: 406px;
}

.dropdown-2 {
  padding: 0px 0px 125px 0px;
  margin-right: 137px;
  box-sizing: border-box;
  height: 100%;
}

.txt-522 {
  font-size: 23px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: rgba(142, 142, 142, 1);
  word-wrap: break-word;
  width: 412px;
}

.proximo-3 {
  width: 29px;
  height: 29px;
}

.btn-border {
  padding: 12px 23px 10px 24px;
  box-sizing: border-box;
  border-radius: 44px;
  background-color: rgba(255, 255, 255, 1);
  border: 4px solid rgba(31, 183, 85, 1);
  min-height: 78px;
  height: fit-content;
  width: 520px;
  vertical-align: middle;
}

.escolher-tipo{
  width: 100vh;
box-sizing: border-box;
height: -moz-fit-content;
height: fit-content;
vertical-align: middle;
cursor: pointer;
}

.dropdown{
  margin-right: 137px;
  padding: 9px 23px 10px 24px;
  box-sizing: border-box;
  border-radius: 44px;
  background-color: rgba(255, 255, 255, 1);
  border: 4px solid rgba(31, 183, 85, 1);
  max-height: 78px;
  height: fit-content;
  width: 520px !important;
  vertical-align: middle;
  cursor: pointer;
  font-size: 21px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: rgba(142, 142, 142, 1);
  word-wrap: break-word;
}

.Dropdown-control{
  border: none !important;
  cursor: pointer !important;
  box-shadow: none !important;
  padding: 14px 52px 14px 10px !important;
  box-sizing: border-box;

}

.dropdown-menu{
  border: none !important;
  box-shadow: none !important;
  margin-top: 10px !important;
  width: 470px !important;
  background-color: #f2f2f2 !important;
  border-radius: 20px;
}

.Dropdown-arrow{
  border-width:9px 9px 0 !important;
  border-color: rgb(66, 66, 66) transparent transparent !important;
  border-style: solid !important;
  top: 37% !important;
}