
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 580px !important;
    justify-content: space-between;
}

.importar2{
    display: none;
    width: 517px;
}

.nostyle{
    background-color: rgba(240, 242, 239, 1);
    border: none;
    word-wrap: break-word;
    border-radius: 40px;
    padding: 18px 24px 18px 24px;
    font-size: 23px;
    width: 100%;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

.flex-row-apart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

  .importar23{

    padding: 6px 6px 6px 34px;
  box-sizing: border-box;
  border-radius: 44px;
  background-color: rgba(255, 255, 255, 1);
  border: 4px solid rgba(31, 183, 85, 1);
  height: fit-content;
  width: 520px;
  cursor: pointer;
}

.txt{
    color: rgba(23, 23, 23, 1);
    font-size: 17px;
    width: 100%;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}



.btn-m23{
    transition: ease-in-out;
    padding: 13px 41px 13px 30px;

    box-sizing: border-box;
    border-radius: 29.5px;
    background-color: rgba(31, 183, 85, 1);
    height: 59px;
    width: 517px;
    cursor: pointer;
}


.btn-txt-23{
    font-size: 24px;
font-family: Montserrat, sans-serif;
font-weight: 500;
color: rgba(255, 255, 255, 1);
word-wrap: break-word;

text-decoration: none;
}