.container{
    padding: 11px 461px 35px 461px;
    box-sizing: border-box;
    width: 100%;
    height: 545px;


}

.flex-col-center-vstart{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
  }

  .group-972 {
    width: 100%;
    height: 100%;
  }

  .flex-hcenter {
    justify-content: center;
  }



  